<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xingyu.jboa.mapper.BizClaimVoucherDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.xingyu.jboa.pojo.BizClaimVoucherDetail" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MAIN_ID" property="mainId" jdbcType="DECIMAL" />
    <result column="ITEM" property="item" jdbcType="VARCHAR" />
    <result column="ACCOUNT" property="account" jdbcType="DECIMAL" />
    <result column="DES" property="des" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MAIN_ID, ITEM, ACCOUNT, DES
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xingyu.jboa.pojo.BizClaimVoucherDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BIZ_CLAIM_VOUCHER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BIZ_CLAIM_VOUCHER_DETAIL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BIZ_CLAIM_VOUCHER_DETAIL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xingyu.jboa.pojo.BizClaimVoucherDetailExample" >
    delete from BIZ_CLAIM_VOUCHER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xingyu.jboa.pojo.BizClaimVoucherDetail" >
    insert into BIZ_CLAIM_VOUCHER_DETAIL (ID, MAIN_ID, ITEM, 
      ACCOUNT, DES)
    values (#{id,jdbcType=DECIMAL}, #{mainId,jdbcType=DECIMAL}, #{item,jdbcType=VARCHAR}, 
      #{account,jdbcType=DECIMAL}, #{des,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xingyu.jboa.pojo.BizClaimVoucherDetail" >
    insert into BIZ_CLAIM_VOUCHER_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainId != null" >
        MAIN_ID,
      </if>
      <if test="item != null" >
        ITEM,
      </if>
      <if test="account != null" >
        ACCOUNT,
      </if>
      <if test="des != null" >
        DES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="mainId != null" >
        #{mainId,jdbcType=DECIMAL},
      </if>
      <if test="item != null" >
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=DECIMAL},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xingyu.jboa.pojo.BizClaimVoucherDetailExample" resultType="java.lang.Integer" >
    select count(*) from BIZ_CLAIM_VOUCHER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BIZ_CLAIM_VOUCHER_DETAIL
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.mainId != null" >
        MAIN_ID = #{record.mainId,jdbcType=DECIMAL},
      </if>
      <if test="record.item != null" >
        ITEM = #{record.item,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        ACCOUNT = #{record.account,jdbcType=DECIMAL},
      </if>
      <if test="record.des != null" >
        DES = #{record.des,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BIZ_CLAIM_VOUCHER_DETAIL
    set ID = #{record.id,jdbcType=DECIMAL},
      MAIN_ID = #{record.mainId,jdbcType=DECIMAL},
      ITEM = #{record.item,jdbcType=VARCHAR},
      ACCOUNT = #{record.account,jdbcType=DECIMAL},
      DES = #{record.des,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xingyu.jboa.pojo.BizClaimVoucherDetail" >
    update BIZ_CLAIM_VOUCHER_DETAIL
    <set >
      <if test="mainId != null" >
        MAIN_ID = #{mainId,jdbcType=DECIMAL},
      </if>
      <if test="item != null" >
        ITEM = #{item,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        ACCOUNT = #{account,jdbcType=DECIMAL},
      </if>
      <if test="des != null" >
        DES = #{des,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xingyu.jboa.pojo.BizClaimVoucherDetail" >
    update BIZ_CLAIM_VOUCHER_DETAIL
    set MAIN_ID = #{mainId,jdbcType=DECIMAL},
      ITEM = #{item,jdbcType=VARCHAR},
      ACCOUNT = #{account,jdbcType=DECIMAL},
      DES = #{des,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>